@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0px;
    color: var(--color-white);
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    width: 100vw;
    padding: 3vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.search-input::-webkit-input-placeholder {
    color: var(--color-black);
}

.page-header button:focus {
    outline: none;
}