.page-header {
    width: 100%;
    min-height: 3.5rem;
    height: 5vw;
    left: 0;
    top: 0;
    padding: 3vw 2vw;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(4px);
    z-index: 10;

    .logo-link {
        img {
            height: 3rem;
            filter: invert(0) brightness(80%);
            transition: ease-in-out 0.3s;

            &:hover {
                filter: invert(1) brightness(100%);
                transition: ease-in-out 0.3s;
            }
        }
    }

    .header-content {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2vw;
        position: relative;

        .search-section {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            .search-input {
                width: 100%;
                height: 2rem;
                padding: 0 1rem;
                border: 1px solid var(--color-black);
                border-radius: 12px;
                color: var(--color-black);
                outline: none;
                background: transparent;
                transition: ease-in-out 0.3s;

                &:focus,
                &:focus-visible {
                    background: var(--color-playstation-dark-blue);
                    border-color: var(--color-black);
                    color: var(--color-white);
                    outline: none;
                    transition: ease-in-out 0.3s;
                }
            }

            #btn-clean {
                height: 1.5rem;
                width: 1.5rem;
                right: 1%;
                border-radius: 50%;
                border: 1px solid var(--color-black);
                background: var(--color-white);
                color: var(--color-black);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                transition: ease-in-out 0.3s;

                &:hover {
                    background: var(--color-playstation-dark-blue);
                    color: var(--color-white);
                    transition: ease-in-out 0.3s;
                }
            }
        }

        .hero {
            width: 100%;
            padding-left: 2vw;
            display: flex;
            gap: 2vw;
            text-transform: uppercase;

            .nav-item {
                height: 100%;

                .nav-link {
                    height: 3rem;
                    color: var(--color-black);
                    transition: ease-in-out 0.3s;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: var(--color-playstation-medium-blue);
                        transition: ease-in-out 0.3s;
                    }
                }
            }
        }

        .hamburguer-label {
            display: none;
        }

        #hamburguer-btn {
            display: none;
        }

        #btn-search {
            height: 2rem;
            padding: 0 1rem;
            border: 1px solid var(--color-black);
            color: var(--color-black);
            border-radius: 12px;
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            transition: ease-in-out 0.3s;

            &:hover {
                background: var(--color-playstation-dark-blue);
                color: var(--color-white);
                border: 1px solid var(--color-black);
                transition: ease-in-out 0.3s;
            }
        }
    }

    @media (max-width: 1100px) {
        .header-content .search-section {
            width: 50%;
        }
    }

    @media (max-width: 768px) {
        .header-content {
            position: relative;
            
            .hamburguer-label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 2rem;
                width: 2rem;
                padding: 0.5rem 0px;
                border-radius: 12px;
                border: 1px solid var(--color-black);
                cursor: pointer;

                .hamburguer-line {
                    height: 2px;
                    width: 50%;
                    border-radius: 4px;
                    background: var(--color-black);
                    margin: 2px;
                }
            }

            .hero {
                display: none;
                position: absolute;
                top: 138%;
                left: -14vw;
                width: 100vw;
                background: var(--color-white);
                border-top: 1px solid var(--color-black);
                flex-direction: column;
                align-items: center;
                padding: 1rem 0;
                gap: 1rem;
            }

            label {
                transition: ease-in-out 0.3s;
            }

            #hamburguer-btn:checked ~ #hamburguer-label {
                background: var(--color-playstation-dark-blue);
                transition: ease-in-out 0.3s;

                .hamburguer-line {
                    background: var(--color-white);
                    transition: ease-in-out 0.3s;
                }
            }

            #hamburguer-btn:checked ~ .hero {
                display: flex;
            }

            section {
                width: 50%;
            }
        }
    }
}
