:root {
    --color-white: #fff;
    --color-black: #000;

    --color-playstation-dark-blue: #003087;
    --color-playstation-medium-blue: #2e6db4;
    --color-playstation-light-blue: #006fcd;
    --color-playstation-accent-blue: #3784dc;

    --color-light-grey: rgb(193, 193, 193);
    --color-footer-bg: #001f5a;
    --color-footer-hover: #0073e6;

    --color-white-t-70: rgba(255, 255, 255, 0.7);
    --color-white-t-60: rgba(255, 255, 255, 0.6);
    --color-black-t-70: rgba(0, 0, 0, 0.7);
}